<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <!-- AF sections -->
      <section name="Ade.AdeComponentFramework.Components" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
      <!-- SmartHMI Sections -->
      <section name="KukaLaboratories.SmartHMI.PdsFirmwareUpdate" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
      <section name="KukaRoboter.SmartHMI.Commands" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
      <section name="KukaRoboter.SmartHMI.Menu" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
   </configSections>

   <!-- Component configuration -->
   <Ade.AdeComponentFramework.Components type="Ade.Components.ComponentReferenceConfiguration, Ade.Components">
      <Component Type="KukaLaboratories.SmartHMI.PdsFirmwareUpdate.ViewModel.PdsFirmwareUpdateViewModel, KukaLaboratories.SmartHMI.PdsFirmwareUpdate"/>
   </Ade.AdeComponentFramework.Components>

   <KukaRoboter.SmartHMI.Commands type="KukaRoboter.SmartHMI.UIFramework.Commands.CommandInfoImpl, SmartHMI">
      <CommandInfo SystemName="PdsFirmwareUpdate.Execute"
                   ComponentName="KukaLaboratories.SmartHMI.PdsFirmwareUpdate.ViewModel.PdsFirmwareUpdateViewModel">
         <CommandArgument Name="FileName" Type="System.String" IsRequired="true"/>
         <CommandArgument Name="Arguments" Type="System.String" IsRequired="false"/>
      </CommandInfo>
   </KukaRoboter.SmartHMI.Commands>

   <KukaLaboratories.SmartHMI.PdsFirmwareUpdate type="KukaLaboratories.SmartHMI.PdsFirmwareUpdate.Configuration.PdsFirmwareUpdateConfiguration, KukaLaboratories.SmartHMI.PdsFirmwareUpdate">
      <PdsFirmwareUpdateConfiguration TimeoutInSeconds="18000"/>
   </KukaLaboratories.SmartHMI.PdsFirmwareUpdate>

   
<location allowOverride="true" inheritInChildApplications="true">
        <KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
            <MenuRoot SystemName="MainMenu" DisplayName="SmartHMI#MainMenuTitle">
                <MenuFolder DisplayName="KRCDiag#DiagnosisCaption">
                    <MenuItem DisplayName="PdsFirmwareUpdate#PdsFirmwareUpdate" MergeOrder="100">
                        <CommandCall Target="PdsFirmwareUpdate.Execute">
                            <Argument Name="FileName">C:\KRC\Util\PdsFirmwareUpdateTool\PdsFirmwareUpdateTool.exe</Argument>
                            <Argument Name="Arguments">"C:\KRC\Configuration\Catalog\com.kuka.PdsFirmwareUpdate.cae" "C:\KRC\Roboter\log" "192.168.0.2"</Argument>
                        </CommandCall>
                    </MenuItem>
                </MenuFolder>
            </MenuRoot>
        </KukaRoboter.SmartHMI.Menu>
    </location>
</configuration>
